.top-left {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .top-right {
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
  }
  
  .bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: blueviolet;
  }
